@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "Users";}
@using ELibrary.MVC.Model.DTO.ResponseDTO;
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Users</h1>
    <p class="mb-4">
        All User Records
    </p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                          
                                <thead>
                                    <tr><th rowspan="1" colspan="1">Name</th><th rowspan="1" colspan="1">Gender</th><th rowspan="1" colspan="1">Email</th><th rowspan="1" colspan="1">UserName</th><th rowspan="1" colspan="1">Registered Date</th><th rowspan="1" colspan="1">Action</th></tr>
                                </thead>
                                <tbody>
                                    @foreach (var allData in (IEnumerable<UserResponseDTO>)ViewData["AllUsers"])
                                    {
                                        <tr class="odd">
                                            <td class="">@allData.LastName  @allData.FirstName</td>
                                            <td class="sorting_1">@allData.Gender</td>
                                            <td>@allData.Email</td>
                                            <td>@allData.UserName</td>
                                            <td>@allData.CreatedAt</td>
                                            <td><div class="btn-group">
                                                    <div class="btn btn-sm btn-success">update</div>
                                                    <div class="btn btn-sm btn-danger">delete</div>
                                                </div>
                                            </td>
                                        </tr>}

                                    </tbody>
                            </table>
                        </div>
                    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                </div>
            </div>
        </div>
    </div>

    @*Update Modal*@
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="form-dark mt-3">
                        <div class="form-group container">
                            <div class="input-group mb-3">
                                <select id="inputState" class="form-control">
                                    <option selected>Select Role</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <input class="form-control mb-3" type="text" placeholder="Role">
                            <input class="form-control mb-3" type="text" placeholder="First Name">
                            <input class="form-control mb-3" type="text" placeholder="Last Name">
                            <input class="form-control mb-3" type="text" placeholder="Email">
                            <input class="form-control mb-3" type="text" placeholder="Username">
                            <input class="form-control mb-3" type="text" placeholder="Password">
                            <div class="input-group mb-3">
                                <input type="file" class="form-control-file" id="inputGroupFile01">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Update</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/static/js/demo/datatables-demo.js"></script>
